table,
th,
td {
	border: 1px solid;
	text-align: center;
	border-color: darkorange;
}

h3 {
	color: darkorange;
}

h1 {
	color: darkorange;
}

.prodeboton {
	position: fixed !important;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	width: 15rem;
	background-color: darkorange;
	color: white;
	font-size: 2em;
	z-index: 100;
	bottom: 32px;
	right: 32px;
	border-radius: 5%;
	border: 1px solid silver;
	/* shadow */
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
